<div class="secondary-content">
  <div class="minutes">
    <input min="1" max="1200" placeholder="minutes" class="water-minutes" type="number" name="start_water[minutes]" id="start-<%= zone[:id] %>">
  </div>
  <input type="button" value="Water!" class="btn water-btn">
</div>
