<h1 class='center'>rachio</h1>

<% @devices.each do |device| %>
  <div class="device" id="<%= device.id %>">
    <h4 class="center"><%= device.name %></h4>
    <div class="zones">
      <%= render partial: 'zones', locals: { device: device } %>
    </div>
  </div>
<% end %>
